body {
    height: 100%;
    font-size: 16px;
    font-family: 'Work Sans', sans-serif;
    line-height: 1.5;
    background-color: #af5d74;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  